.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 2s;
}

.ex-1-square:hover {
    background-color: red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
    transition-timing-function: ease-in-out;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 1s;
}

.ex-3-square:hover {
    border-radius: 100%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: background-color 1s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: transform 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(.5);
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img {
    transition: filter 2s;
}

.ex-7-img:hover {
    filter: sepia(.5) grayscale(.6);
}

.ex-8-img{
    transition: filter 2s, border-radius 2s;
}

.ex-8-img:hover {
    filter: sepia(.5) grayscale(.6);
    border-radius: 2rem;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition-duration: 2s;
}

.ex-9-img:hover {
    filter: sepia(.5) grayscale(.6);
    border-radius: 2rem;
    transform: scale(1.5);
}

.ex-10-icon {
    font-size: 60px;
    animation-name: charging;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes charging {
    0% { 
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    animation-name: charging-clockwise;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

}

@keyframes charging-clockwise {
    0% {
        transform: rotate(0);
    }

    90% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(0);
    }
}


.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-12-button:hover .ex-12-top-white {
    animation-name: first-button-animation-top-white;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes first-button-animation-top-white {
    0% {
        left: 10%;
    }

    50%{
        left: calc(100% - 60px);
    }

    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation-name: first-button-animation-bottom-white;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes first-button-animation-bottom-white {
    0% {
        right: 20%;
    }

    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}

.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-13-button:hover .ex-13-top-white {
    animation-name: second-button-animation-top-white;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes second-button-animation-top-white {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }

}

.ex-13-button:hover .ex-13-bottom-white {
    animation-name: second-button-animation-bottom-white;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 2s;
}

@keyframes second-button-animation-bottom-white {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 50px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 50px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}
}